<div class="d-flex justify-content-center align-items-center full-height">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            Login
          </div>
          <div class="card-body">
            @if(emailInvalid) {
            <div class="alert alert-danger" role="alert" >
              Please enter a valid e-mail address.
            </div>
            }
            @if(passwordInvalid) {
            <div class="alert alert-danger" role="alert">
              The password must have at least 5 characters.
            </div>
            }
            @if(loginError) {
            <div class="alert alert-danger" role="alert">
              {{ errorMessage }}
            </div>
            }
            <form (ngSubmit)="onSubmit($event)">
              <div class="mb-3">
                <label for="emailInput" class="form-label">Email</label>
                <input type="email" autocomplete=“true” spellcheck=“true” class="form-control" id="emailInput"
                  [(ngModel)]="loginData.email" name="email">
              </div>
              <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput" [(ngModel)]="loginData.password"
                  name="password">
              </div>
              <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Log in</button>
                <a routerLink="/register" class="btn">Register</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
